.available {
    color: #56e35b;
    animation-name: availableAni;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.unavailable {
    color: #ff3333;
    animation-name: unavailableAni;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes unavailableAni {
    0%   {color: #ff3333;}
    25%  {color: #ff0000;}
    50%  {color: #c60000;}
    75%  {color: #ff0000;}
    100% {color: #ff3333;}
}

@keyframes availableAni {
    0%   {color: #56e35b;}
    25%  {color: #7ec157;}
    50%  {color: #8ac15a;}
    75%  {color: #7ec157;}
    100% {color: #56e35b;}
}

/* The animation code */
@keyframes myAnimation {
    0%   {background-color: red;}
    20%  {background-color: yellow;}
    40%  {background-color: lime;}
    50%  {background-color: deepskyblue;}
    60%  {background-color: lime}
    80%  {background-color: yellow;}
    100% {background-color: red;}
}

/* The element to apply the animation to */
.animationTest {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: myAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}

.dish-card:hover { /* Ecke ist wie OR Funktion */ /* <-- Hurensohn Ecke */
    transform: translateY(-5px)  scale(1.02);
    box-shadow: 0 12px 40px rgba(0,0,0,0.3); /*nicht schuld für Ecke in Box*/
}
.dish-name {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.dish-name a {
    text-decoration: none;
    color: white;
}
.dish-name a:hover {
    color: #9fcfe3;
}
.dish-status {
    font-weight: bold;
}
.dish-description {
    font-size: 0.9rem;
    color: #d3dce0;
    margin-bottom: 0.5rem;
}

.dish-card {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 16px;
    padding: 1rem;
    margin-bottom: 1rem;

    overflow: hidden;              /* 🔥 wichtig */
    background-clip: padding-box;  /* 🔥 wichtig */

    transform: translateZ(0);      /* 🔧 Firefox Fix */
    will-change: transform;


    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.dish-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(12px);
    z-index: 0;

    animation: fadeBg 18s ease-in-out infinite;
}

.dish-card > * {
    position: relative;
    z-index: 1;
}

.dish-card {

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 16px;
    padding: 1rem;
    margin-bottom: 1rem;

    overflow: hidden;              /* 🔥 wichtig */
    background-clip: padding-box;  /* 🔥 wichtig */

    transform: translateZ(0);      /* 🔧 Firefox Fix */
    will-change: transform;


    position: relative;
    border-radius: 16px;
    overflow: hidden;
}